body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: darkblue;
}

table {
    width: 60%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: lightgray;
}

a {
    text-decoration: none;
    margin-right: 10px;
}

input {
    padding: 8px;
    width: 250px;
}

button {
    padding: 8px 15px;
    background-color: darkblue;
    color: white;
    border: none;
}